{{>licenseInfo}}
#include "{{packageName}}/Utility.h"

#include <string>
#include <string_view>

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

void replaceAll(std::string &str, std::string_view what,
                std::string_view with) {
    auto pos = str.find(what);

    while (pos != std::string::npos) {
        str.replace(pos, what.length(), with);
        pos = str.find(what, pos + with.length());
    }
}

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}
